# SELF PRACTICE

Basic Operations with Variables, String, Lists

In [49]:
#Calculations using BODMAS principle - order of operations to be executed 
(23 + 50) - 45 /4 + 34 % (9*2)

77.75

In [50]:
(23 + 50) - 45 //4 + 34 % (9*2)  # in this calculation // indicates - rounding off the final value without decimals.

78

In [70]:
23.4// 7  #return output in float format with rounded quotient

3.0

In [52]:
145/3 # single / gives exact quotient when divsion operations is performed

48.333333333333336

In [69]:
145//2  #return output in integer format with rounded quotient

72

In [54]:
'string'

'string'

In [55]:
print('Hello welcome to Python First Project.\n Imran\'s project') #using \n -newline character to print in newline

Hello welcome to Python First Project.
 Imran's project

In [59]:
10 * ' imran' #printing a string 10times withoutusing a print function

' imran imran imran imran imran imran imran imran imran imran'

In [57]:
print('Imran\'s "Mobile"') #printing using single and double asterics without disturbing the format

Imran's "Mobile"

In [61]:
print(10*(' Imran')) #printing a string  10times using print function

 Imran Imran Imran Imran Imran Imran Imran Imran Imran Imran

In [38]:
print('c:\imran\home\navin') #by default \n is considered as a new line command

c:\imran\home
avin

In [39]:
print(r'c:\imran\home\navin') #printing raw data without altering the string format

c:\imran\home\navin

# Variables

In [7]:
x=2 #Assigning a value to a variable. Basically, a variable is nothing but name of a location where value is stored
y=5
x+y #sum of two variables

7

In [8]:
x+5  #value of x is already stored in x in previous statement

7

In [28]:
y=x+17 #giving result of sum, to a new variable y and finding the datatype of y using type() function
y
print(y)
type(y)

27

int

In [39]:
y -x

17

In [30]:
x=10
y-x # here x is assigned to new value , so it considers latest updated value

17

#Strings

In [106]:
name = 'imran' # we can assign a string to a variable
name

'imran'

In [107]:
'name ' + 'is ' + name #we can add multiple strings using + operator. Its other wise called Concatenation

'name is imran'

In [108]:
'name' is imran # here 'name' is a string, is (without asterics) is an operand, imran is undefined string. 
                # throws an error since imran is not defined and we cant concatenate a string this way

NameError: name 'imran' is not defined

In [109]:
type(name) #we are identifying the datatype of defined variable name as STRING

str

In [110]:
 name + ' rocks' #adding a predefined string with new string

'imran rocks'

In [111]:
name ' rocks' # we cant concatenate without + operator here in this statement

SyntaxError: invalid syntax (<ipython-input-111-f72100c0cfce>, line 1)

In [112]:
#fetching desired character from the string
name[0] 
#[0] indicates the first character from the string- basically index of string starts from 0

'i'

In [113]:
len(name) #length  of the string name is 5 ( imran - number of characters is 5)
          #len() is an inbuilt function for finding length of a string

5

In [114]:
name[10] #there are only 5characters, it throws an error  cos we are searching beyond the length of string

IndexError: string index out of range

In [115]:
print(name)
name[2] #imran - 01234 - index of 2 is 'r'

imran

'r'

In [116]:
# when ever there is a negative index, string is printed from reverse direction

print(name)
name[-2] 
#imran
#01234
#-5-4-3-2-1 
#it prints last but one character 'a'

imran

'a'

In [117]:
name[-5]

'i'

In [118]:
name[0:3] # this represents start string from 0 index till index 3 but not include index3 value
          # so it prints values in the indexes from 0,1,2 but not 3

'imr'

In [119]:
name[0:1] #  this is nothing but name[0]

'i'

In [120]:
name[1:6] #from index 1 to index5 but we dont have index6 value as imran stands till index4 
          #here it considers the last remaining value no matter what the index is if it is out of range

'mran'

In [121]:
name[1:] #returns string from index1 till end character

'mran'

In [122]:
name[-3] # returns character r from reverse

'r'

In [123]:
name[:4] #returns string from 0index till 3rd index excluding4th

'imra'

In [124]:
#lets try to assign new characters to our string
name[0:1]='s'

TypeError: 'str' object does not support item assignment

In [125]:
5 + len('imran')

10

#STRINGS are IMMUTABLE - WE CANT CHANGE OR ASSIGN CHARACTERS TO EXISTING STRING

In [126]:
name[0:3]='sim'

TypeError: 'str' object does not support item assignment

In [127]:
'S'+name[0:5]  #but we can print a string by modifying characters in this way

'Simran'

In [128]:
'Sim' + name[2:5] #'Sim' is a new string & name[2:5] gives me value from index 2 to 4 which is 'ran'

'Simran'

#LISTS in python are MUTABLE. we can change/add/remove elements of LIST

In [145]:
nums = [24,45,12,39,50,80] #list is a collection of numbers of various formats or strings or lists or combination of all
nums

[24, 45, 12, 39, 50, 80]

In [146]:
nums1 = ['imran', "cat",34.90, 34]
nums1

['imran', 'cat', 34.9, 34]

In [147]:
nums2 = nums + nums1 #two lists can be merged using + operator
nums2

[24, 45, 12, 39, 50, 80, 'imran', 'cat', 34.9, 34]

In [157]:
nums.pop(5)
nums

[24, 45, 39, 50, 80]

In [159]:
nums.append([21])
nums

[24, 45, 39, 50, 80, [21], [21]]

In [160]:
nums.append(nums1)
nums

[24, 45, 39, 50, 80, [21], [21], ['imran', 'cat', 34.9, 34]]

In [161]:
nums2

[24, 45, 12, 39, 50, 80, 'imran', 'cat', 34.9, 34]

In [162]:
nums.pop(7)

['imran', 'cat', 34.9, 34]

In [163]:
nums

[24, 45, 39, 50, 80, [21], [21]]

In [167]:
nums.pop(5)
nums

[24, 39, 45, 50, 80]

In [169]:
nums.sort()
nums

[24, 39, 45, 50, 80]

In [170]:
nums[0]

24

In [171]:
nums[0:]

[24, 39, 45, 50, 80]

In [172]:
nums[-3]

45

In [173]:
nums[0:3]

[24, 39, 45]

In [174]:
nums[-1:-3]

[]

In [178]:
nums.remove(39)
nums

[45, 50, 80]

In [183]:
nums.extend([20])
nums

[45, 50, 80, 20, 20]

In [184]:
nums.pop()

20

In [185]:
nums

[45, 50, 80, 20]

In [186]:
nums.sort()

In [187]:
nums

[20, 45, 50, 80]

In [188]:
nums1

['imran', 'cat', 34.9, 34]

In [189]:
nums2

[12, 24, 39, 45, 50, 80, 'imran', 'cat', 34.9, 34]

In [194]:
names = ['imran', 'badri', 'divya']

names

['imran', 'badri', 'divya']

In [199]:
names[1]

'badri'

In [200]:
names.extend(['Rahul'])

In [201]:
names

['imran', 'badri', 'divya', 'Rahul']

In [202]:
names.sort()

In [203]:
names

['Rahul', 'badri', 'divya', 'imran']

In [205]:
names.pop(0)

'Rahul'

In [214]:
names.extend(['rahul'])

In [216]:
names.pop()

'rahul'

In [230]:
names.pop()
names.pop()
names.pop()

IndexError: pop from empty list

In [233]:
names.extend(['Imran'])

In [234]:
names.extend(['Badri'])

In [237]:
names.extend(['Divya'])

In [239]:
names.pop()

'Divya'

In [240]:
names

['I', 'm', 'r', 'a', 'n', 'B', 'a', 'd', 'r', 'i', 'D', 'i', 'v', 'y', 'a']

In [249]:
names[:-4]

['I', 'm', 'r', 'a', 'n', 'B', 'a', 'd', 'r', 'i', 'D']

In [250]:
names[4:7]

['n', 'B', 'a']

In [263]:
names[0:10:5]

['I', 'B']

In [264]:
names.append(20)

In [265]:
names

['I', 'm', 'r', 'a', 'n', 'B', 'a', 'd', 'r', 'i', 'D', 'i', 'v', 'y', 'a', 20]

In [266]:
names.reverse()

In [267]:
names

[20, 'a', 'y', 'v', 'i', 'D', 'i', 'r', 'd', 'a', 'B', 'n', 'a', 'r', 'm', 'I']

In [268]:
names.pop(0)

20

In [269]:
names.sort()

In [270]:
names

['B', 'D', 'I', 'a', 'a', 'a', 'd', 'i', 'i', 'm', 'n', 'r', 'r', 'v', 'y']

In [271]:
names.clear()

In [272]:
names

[]

In [273]:
names.append(20)

In [274]:
names.append(43)

In [275]:
names.append(234)

In [276]:
names.append('imran')

In [277]:
names.append(24.5)

In [278]:
names

[20, 43, 234, 'imran', 24.5]

In [279]:
names.insert(2,'badri')

In [280]:
names

[20, 43, 'badri', 234, 'imran', 24.5]

In [281]:
names.remove(24.5)

In [282]:
names

[20, 43, 'badri', 234, 'imran']

In [286]:
del names[0:2]
names

['imran']

In [287]:
names.extend([20,45,56,87,'imran'])

In [288]:
names

['imran', 20, 45, 56, 87, 'imran']

In [289]:
del names[0]

In [290]:
names

[20, 45, 56, 87, 'imran']

In [291]:
names.pop()

'imran'

In [292]:
names

[20, 45, 56, 87]

In [293]:
min(names)

20

In [294]:
max(names)

87

In [295]:
sum(names)

208

In [296]:
names.sort()

In [297]:
names

[20, 45, 56, 87]

In [301]:
names.pop(1)

45

In [302]:
del names[1:3]

In [303]:
names

[20]

In [305]:
names.extend([20,345,533,53,35,3443,55])

In [306]:
del names[2:5]

In [307]:
names

[20, 20, 35, 3443, 55]

In [308]:
del names[1:2]

In [309]:
names

[20, 35, 3443, 55]

Tuples - Immutable

In [352]:
tup = {23, 32, 9, 52, 3}

In [353]:
tup

{3, 9, 23, 32, 52}

In [354]:
tup.add(20)

In [355]:
tup

{3, 9, 20, 23, 32, 52}

In [356]:
tup.add('Imran')

In [357]:
tup

{20, 23, 3, 32, 52, 9, 'Imran'}

In [358]:
tup.remove('Imran')

In [359]:
tup.pop()

32

In [360]:
tup

{3, 9, 20, 23, 52}

In [361]:
del tup[1:3]

TypeError: 'set' object does not support item deletion

SET is a sequence of values, which doesnt accept duplicate values. Always returns sorted values

In [375]:
set1 = {0,3,4,5,5,25,1,345,22.5,20}

In [376]:
set1

{0, 1, 3, 4, 5, 20, 22.5, 25, 345}

In [366]:
set1.add('imran')

In [378]:
set1.add('Imran')
set1

{0, 1, 20, 22.5, 25, 3, 345, 4, 5, 'Imran'}

In [379]:
set1.add('imran')

In [381]:
set1

{0, 1, 20, 22.5, 25, 3, 345, 4, 5, 'Imran', 'imran'}

In [382]:
set1.remove('imran')

In [383]:
set1

{0, 1, 20, 22.5, 25, 3, 345, 4, 5, 'Imran'}

In [386]:
min(set1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [387]:
max(set1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [388]:
sum(set1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [389]:
set1.pop()

0

In [390]:
set1

{1, 20, 22.5, 25, 3, 345, 4, 5, 'Imran'}

In [393]:
set1.remove('Imran')

In [399]:
del set1

In [401]:
del tup

In [403]:
tup = [34,55,754,'imran']

In [404]:
tup

[34, 55, 754, 'imran']

In [405]:
tup.reverse()

In [406]:
tup

['imran', 754, 55, 34]

In [407]:
listEx1 = [23,45,56, ['imran','rahul','badri','divya']]

In [408]:
listEx1

[23, 45, 56, ['imran', 'rahul', 'badri', 'divya']]

In [409]:
listEx1.reverse()

In [410]:
listEx1

[['imran', 'rahul', 'badri', 'divya'], 56, 45, 23]

In [414]:
listEx1.reverse()

In [415]:
listEx1

[23, 45, 56, ['imran', 'rahul', 'badri', 'divya']]

In [416]:
x = listEx1.pop()

In [417]:
x

['imran', 'rahul', 'badri', 'divya']

In [418]:
x.reverse()

In [419]:
x

['divya', 'badri', 'rahul', 'imran']

In [421]:
listEx1.append(x)

In [422]:
listEx1

[23, 45, 56, ['divya', 'badri', 'rahul', 'imran']]

In [423]:
listEx1.reverse()

In [424]:
listEx1

[['divya', 'badri', 'rahul', 'imran'], 56, 45, 23]

In [429]:
listEx1[::-1]

[23, 45, 56, ['divya', 'badri', 'rahul', 'imran']]

In [430]:
listEx1[::-1]

[23, 45, 56, ['divya', 'badri', 'rahul', 'imran']]

In [431]:
newList = [[1,2,3], [4,5,6],[7,8,9,10]]

In [432]:
newList.reverse()

In [433]:
newList

[[7, 8, 9, 10], [4, 5, 6], [1, 2, 3]]

In [434]:
newList.reverse()
newList

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [435]:
mirrored(newList)

NameError: name 'mirrored' is not defined

More on VARIABLES

In [436]:
newList

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [438]:
id(newList) #Address of newList

139696297338184

In [439]:
z = 200
id(z)

93891552932608

In [440]:
a = 10
b = a
id(b)

93891552926528

In [441]:
b

10

In [442]:
id(a)

93891552926528

In [443]:
id(10)

93891552926528

In [444]:
k = 10
id(k)

93891552926528

In [445]:
id(a)

93891552926528

In [446]:
a = 9
id(a)

93891552926496

In [447]:
id(b)

93891552926528

In [448]:
k = a
id(k)

93891552926496

In [449]:
b = 7
id(b)

93891552926432

In [450]:
id(10)

93891552926528