TOPICS : 
```````
1 DATA TYPES
2 OPERATORS
3 NUMBER SYSTEM CONVERSION
4 BITWISE OPERATORS

DATA TYPES IN PYTHON 
````````````````````
NONE - (NULL IN OTHER PROGRAMMING LANGUAGES)
NUMERIC - Int, Float,Complex, Bool
LIST    |
TUPLE   |  
SET     | these come under SEQUENCE of values
STRING  |
RANGE   |
DICTIONARY/MAP

In [1]:
num = 10
type(num)

int

In [2]:
num = 20.34
type(num)

float

In [4]:
num = 4 + 10j
type(num)

complex

In [12]:
a = 5.0
int(a)
b = 10

5

In [13]:
c = a+b

In [14]:
c

10.0

In [15]:
complex(c)

(10+0j)

In [16]:
b = 5.6
a = int(b)
a

5

In [17]:
type(b)

float

In [18]:
type(a)

int

In [19]:
a = 4
b = 5.6
c = 3 + 8j

In [23]:
c = complex(a,b)

In [24]:
c

(4+5.6j)

In [25]:
a = 10
b = 23
c = complex(a,b)
c

(10+23j)

In [26]:
a<b

True

In [27]:
b<a

False

In [28]:
a<c

TypeError: '<' not supported between instances of 'int' and 'complex'

In [29]:
k = bool(a>b)

In [30]:
k

False

In [31]:
type(k)

bool

In [32]:
type(bool)

type

In [33]:
 int(True)

1

In [34]:
int(False)

0

In [36]:
lst = [20,34,12,345]

In [37]:
type(lst)

list

In [38]:
set1={10,223,10,23}

In [39]:
set1

{10, 23, 223}

In [40]:
type(set1)

set

In [41]:
tup1=(1,22,34)
type(tup1)

tuple

In [43]:
str = "imran"
type(str)

str

In [44]:
st = 'a' #we dont have a char datatype in python, it still indicates as string

In [45]:
type(st)

str

In [48]:
lst=(range(0,200))

In [50]:
print(lst)

range(0, 200)

In [176]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [53]:
set(range(0,20))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [54]:
tuple(range(0,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [58]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
range(100)

range(0, 100)

In [60]:
range(1000000)

range(0, 1000000)

In [61]:
range(-100)

range(0, -100)

In [62]:
range(10,0)

range(10, 0)

In [63]:
list(range(10,0))

[]

In [64]:
set(range(10,0))

set()

In [65]:
tuple(range(10,0))

()

In [66]:
#dictionary - key value pair - cant have duplicate keys but values, why use {} cos it applies set concept

In [76]:
d = {'Imran' : 'Coolpad', 'Badri' : 'IphoneX', 'Divya' : 'Motorola',20:'Irfan'}
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [77]:
d.keys()

dict_keys(['Imran', 'Badri', 'Divya', 20])

In [78]:
d.values()

dict_values(['Coolpad', 'IphoneX', 'Motorola', 'Irfan'])

In [79]:
d.append({'Imran1':'onePlus'}) #append, add doesnt work here

AttributeError: 'dict' object has no attribute 'append'

In [80]:
d.get('Imran')

'Coolpad'

In [81]:
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [82]:
d = {'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan',20: 'Irfan', }

In [83]:
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [87]:
d[20]

'Irfan'

OPERATORS
`````````
Arithmetic Operators : + - / % 
Assignment Operators : = += -= *= /= 
Relational Operators : > < ! >= <= == !=
Logical Operators    : and or not
Unary Operators      : - negate

In [88]:
x = 38 #assignment operators
y = 15

In [89]:
x + y #arithmetic operators

53

In [144]:
x -y

23

In [145]:
x * y

-130

In [146]:
x/y

-0.7692307692307693

In [93]:
x // y

2

In [94]:
x % y

8

In [95]:
x+= 6

In [147]:
x

10

In [148]:
x -= 7

In [149]:
x

3

In [150]:
x *= 20

In [151]:
x

60

In [152]:
x/=20

In [153]:
x

3.0

In [154]:
x%=2

In [155]:
x

1.0

In [106]:
x = x + y *2

In [107]:
x

31.0

In [108]:
int(x)

31

In [109]:
type(y)

int

In [110]:
id(x)

139950106461384

In [111]:
id(y)

94289511635936

In [112]:
x-=x

In [113]:
x

0.0

In [114]:
x =100
y = 18

In [115]:
x = -x #unary operator - / negate
x

-100

In [122]:
x , y = 10, 13 # assigning values to variable simulataneously

In [123]:
x

10

In [124]:
y

13

In [125]:
y = -y

In [126]:
y

-13

In [127]:
id(y)

139950106873360

In [128]:
id(-y)

94289511635872

In [129]:
a < b #relational Operators

True

In [130]:
a > b

False

In [132]:
a < 10

False

In [133]:
b > 10

True

In [134]:
a is a

True

In [136]:
a

10

In [137]:
b

23

In [138]:
a == 10

True

In [139]:
a ==1

False

In [140]:
a >=10

True

In [141]:
a >= b

False

In [142]:
a != 10

False

In [143]:
a!= b

True

In [156]:
a,b

(10, 23)

In [157]:
a > 8 and b > 20

True

In [158]:
a > 8 and b > 30

False

In [159]:
a < 8 and b > 20

False

In [160]:
a > 8 and b < 20

False

In [161]:
a > 8 or b > 20

True

In [162]:
a < 8 or b > 20

True

In [163]:
a > 8 or b < 20

True

In [164]:
a < 8 and b < 20

False

In [165]:
not a

False

In [170]:
a = True

In [171]:
a

True

In [172]:
not a

False

In [173]:
not b

False

In [174]:
a = not a

In [175]:
a

False

NUMBER SYSTEM CONVERSION IN PYTHON
``````````````````````````````````
1 Decimal  (0-9)
2 Binary   (0&1)
3 Octal    (0-7)
4 Hexa Decimal(0-9 & a-f)

In [177]:
bin(25)

'0b11001'

In [178]:
oct(25)

'0o31'

In [179]:
hex(25)

'0x19'

In [180]:
0b0101

5

In [181]:
0b10101010

170

In [182]:
0x10101

65793

In [183]:
0o101010

33288

In [184]:
hex(20)

'0x14'

In [185]:
oct(200)

'0o310'

In [186]:
bin(2000)

'0b11111010000'

In [187]:
bin(0x101010)

'0b100000001000000010000'

In [188]:
bin(65)

'0b1000001'

In [189]:
bin(25)

'0b11001'

In [196]:
110011010 #no keyword to convert bianry to decimal

110011010

In [200]:
a = 15
b = 12
x = ( a // 4  + b **3 ) < 2000 and (b % 4!=0)
x

False

BITWISE OPERATORS
`````````````````
1 Complement (~)
2 OR(|)
3 AND(&)
4 XOR(^)
5 Left Shift (<<)
6 Right Shift(>>)

In [201]:
~12 #complement is reverse of binary , eg : complement of 0 is 1, 1 is 0
    #binary 12 : 00001100 , #complement of 12 : 11110011
    
    # -13 cant be stored as negative number in memory hence we need to convert it into positive
    # 2s complement of 13 ( 1s complement +1) : 13binary value : 00001101 - 1s complement : 11110010
    #sum of 1s complement + 1 gives : 11110011 which is equal to ~12 binary value
    #refer video for more understanding

-13

In [202]:
12 & 13  #perform AND operation with binary values of 12 &13 and  output received convert in decimal

12

In [203]:
12 | 13  #12 & 13  #perform OR operation with binary values of 12 &13 and  output received convert in decimal

13

In [204]:
12 << 13 #shifting digits to left (left shift operator)

98304

In [205]:
11 >> 10 #shifting digits to right (right shift operator)

0

In [206]:
12 ^ 10 (XOR operation)

6