DATA TYPES IN PYTHON 
````````````````````
NONE - (NULL IN OTHER PROGRAMMING LANGUAGES)
NUMERIC - Int, Float,Complex, Bool
LIST    |
TUPLE   |  
SET     | these come under SEQUENCE of values
STRING  |
RANGE   |
DICTIONARY/MAP

In [1]:
num = 10
type(num)

int

In [2]:
num = 20.34
type(num)

float

In [4]:
num = 4 + 10j
type(num)

complex

In [12]:
a = 5.0
int(a)
b = 10

5

In [13]:
c = a+b

In [14]:
c

10.0

In [15]:
complex(c)

(10+0j)

In [16]:
b = 5.6
a = int(b)
a

5

In [17]:
type(b)

float

In [18]:
type(a)

int

In [19]:
a = 4
b = 5.6
c = 3 + 8j

In [23]:
c = complex(a,b)

In [24]:
c

(4+5.6j)

In [25]:
a = 10
b = 23
c = complex(a,b)
c

(10+23j)

In [26]:
a<b

True

In [27]:
b<a

False

In [28]:
a<c

TypeError: '<' not supported between instances of 'int' and 'complex'

In [29]:
k = bool(a>b)

In [30]:
k

False

In [31]:
type(k)

bool

In [32]:
type(bool)

type

In [33]:
 int(True)

1

In [34]:
int(False)

0

In [36]:
lst = [20,34,12,345]

In [37]:
type(lst)

list

In [38]:
set1={10,223,10,23}

In [39]:
set1

{10, 23, 223}

In [40]:
type(set1)

set

In [41]:
tup1=(1,22,34)
type(tup1)

tuple

In [43]:
str = "imran"
type(str)

str

In [44]:
st = 'a' #we dont have a char datatype in python, it still indicates as string

In [45]:
type(st)

str

In [48]:
lst=(range(0,200))

In [50]:
print(lst)

range(0, 200)

In [52]:
list(range(0,200))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]

In [53]:
set(range(0,20))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [54]:
tuple(range(0,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [58]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
range(100)

range(0, 100)

In [60]:
range(1000000)

range(0, 1000000)

In [61]:
range(-100)

range(0, -100)

In [62]:
range(10,0)

range(10, 0)

In [63]:
list(range(10,0))

[]

In [64]:
set(range(10,0))

set()

In [65]:
tuple(range(10,0))

()

In [66]:
#dictionary - key value pair - cant have duplicate keys but values, why use {} cos it applies set concept

In [76]:
d = {'Imran' : 'Coolpad', 'Badri' : 'IphoneX', 'Divya' : 'Motorola',20:'Irfan'}
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [77]:
d.keys()

dict_keys(['Imran', 'Badri', 'Divya', 20])

In [78]:
d.values()

dict_values(['Coolpad', 'IphoneX', 'Motorola', 'Irfan'])

In [79]:
d.append({'Imran1':'onePlus'}) #append, add doesnt work here

AttributeError: 'dict' object has no attribute 'append'

In [80]:
d.get('Imran')

'Coolpad'

In [81]:
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [82]:
d = {'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan',20: 'Irfan', }

In [83]:
d

{'Imran': 'Coolpad', 'Badri': 'IphoneX', 'Divya': 'Motorola', 20: 'Irfan'}

In [87]:
d[20]

'Irfan'