# SELF PRACTICE

# Basic Operations

In [49]:
#Calculations using BODMAS principle - order of operations to be executed 
(23 + 50) - 45 /4 + 34 % (9*2)

77.75

In [50]:
(23 + 50) - 45 //4 + 34 % (9*2)  # in this calculation // indicates - rounding off the final value without decimals.

78

In [70]:
23.4// 7  #return output in float format with rounded quotient

3.0

In [52]:
145/3 # single / gives exact quotient when divsion operations is performed

48.333333333333336

In [69]:
145//2  #return output in integer format with rounded quotient

72

In [54]:
'string'

'string'

In [55]:
print('Hello welcome to Python First Project.\n Imran\'s project') #using \n -newline character to print in newline

Hello welcome to Python First Project.
 Imran's project

In [59]:
10 * ' imran' #printing a string 10times withoutusing a print function

' imran imran imran imran imran imran imran imran imran imran'

In [57]:
print('Imran\'s "Mobile"') #printing using single and double asterics without disturbing the format

Imran's "Mobile"

In [61]:
print(10*(' Imran')) #printing a string  10times using print function

 Imran Imran Imran Imran Imran Imran Imran Imran Imran Imran

In [38]:
print('c:\imran\home\navin') #by default \n is considered as a new line command

c:\imran\home
avin

In [39]:
print(r'c:\imran\home\navin') #printing raw data without altering the string format

c:\imran\home\navin

# Variables

In [7]:
x=2 #Assigning a value to a variable. Basically, a variable is nothing but name of a location where value is stored
y=5
x+y #sum of two variables

7

In [8]:
x+5  #value of x is already stored in x in previous statement

7

In [28]:
y=x+17 #giving result of sum, to a new variable y and finding the datatype of y using type() function
y
print(y)
type(y)

27

int

In [39]:
y -x

17

In [30]:
x=10
y-x # here x is assigned to new value , so it considers latest updated value

17

In [31]:
name = 'imran' # we can assign a string to a variable
name

'imran'

In [32]:
'name ' + 'is ' + name #we can add multiple strings using + operator. Its other wise called Concatenation

'name is imran'

In [33]:
'name' is imran # here 'name' is a string, is (without asterics) is an operand, imran is undefined string. 
                # throws an error since imran is not defined and we cant concatenate a string this way

NameError: name 'imran' is not defined

In [34]:
type(name) #we are identifying the datatype of defined variable name as STRING

str

In [41]:
 name + ' rocks' #adding a predefined string with new string

'imran rocks'

In [42]:
name ' rocks' # we cant concatenate without + operator here in this statement

SyntaxError: invalid syntax (<ipython-input-42-507e86159de9>, line 1)

In [43]:
#fetching desired character from the string
name[0] 
#[0] indicates the first character from the string- basically index of string starts from 0

'i'

In [87]:
len(name) #length  of the string name is 5 ( imran - number of characters is 5)
          #len() is an inbuilt function for finding length of a string

5

In [47]:
name[10] #there are only 5characters, it throws an error  cos we are searching beyond the length of string

IndexError: string index out of range

In [51]:
print(name)
name[2] #imran - 01234 - index of 2 is 'r'

imran

'r'

In [59]:
# when ever there is a negative index, string is printed from reverse direction

print(name)
name[-2] 
#imran
#01234
#-5-4-3-2-1 
#it prints last but one character 'a'

imran

'a'

In [60]:
name[-5]

'i'

In [66]:
name[0:3] # this represents start string from 0 index till index 3 but not include index3 value
          # so it prints values in the indexes from 0,1,2 but not 3

'imr'

In [67]:
name[0:1] #  this is nothing but name[0]

'i'

In [70]:
name[1:6] #from index 1 to index5 but we dont have index6 value as imran stands till index4 
          #here it considers the last remaining value no matter what the index is if it is out of range

'mran'

In [73]:
name[1:] #returns string from index1 till end character

'mran'

In [105]:
name[-3] # returns character r from reverse

'r'

In [76]:
name[:4] #returns string from 0index till 3rd index excluding4th

'imra'

In [77]:
#lets try to assign new characters to our string
name[0:1]='s'

TypeError: 'str' object does not support item assignment

In [91]:
5 + len('imran')

10

#STRINGS are IMMUTABLE - WE CANT CHANGE OR ASSIGN CHARACTERS TO EXISTING STRING

In [79]:
name[0:3]='sim'

TypeError: 'str' object does not support item assignment

In [81]:
'S'+name[0:5]  #but we can print a string by modifying characters in this way

'Simran'

In [85]:
'Sim' + name[2:5] #'Sim' is a new string & name[2:5] gives me value from index 2 to 4 which is 'ran'

'Simran'